In [6]:
import boto3
import pandas as pd

In [2]:
import json

In [3]:
import datetime

In [4]:
from luigi.contrib.postgres import CopyToTable

Loading postgres module without psycopg2 installed. Will crash at runtime if postgres functionality is used.

In [13]:
#import psycopg2

In [221]:
f = pd.DataFrame(columns=["anio", "estacion", "fecha", "linea", "afluencia"]) # 6

#anio', 'estacion', 'fecha', 'linea', 'afluencia'

In [222]:
df = pd.read_json(r'metro_2019-01-01.json',encoding='utf-8', orient='values', lines=True)# ,col=["fecha", "anio", "linea", "estacion", "afluencia"]) # 1

In [241]:
df

,nhits,parameters,records,facet_groups
0,195,"{'dataset': 'afluencia-diaria-del-metro-cdmx',...",[{'datasetid': 'afluencia-diaria-del-metro-cdm...,"[{'facets': [{'count': 195, 'path': '2019', 's..."

In [260]:
dfrec=df['records'][0] # 2
dfrec[0]

{'datasetid': 'afluencia-diaria-del-metro-cdmx',
 'recordid': 'ec33a8dcf83dba40ce9b09e1f51f67acefe1a0ef',
 'fields': {'anio': '2019',
  'estacion': 'Pantitlán',
  'fecha': '2019-01-01',
  'linea': 'Linea 1',
  'afluencia': '14452'},
 'record_timestamp': '2020-03-25T17:13:11.354000+00:00'}

In [319]:
json_str = json.dumps(dfrec[1])  # aqui va el for # 3

In [320]:
json_str

'{"datasetid": "afluencia-diaria-del-metro-cdmx", "recordid": "400086b6463bbfe0151467f1e9ace23c6e4e5781", "fields": {"anio": "2019", "estacion": "Zaragoza", "fecha": "2019-01-01", "linea": "Linea 1", "afluencia": "22076"}, "record_timestamp": "2020-03-25T17:13:11.354000+00:00"}'

In [321]:
el_json=pd.read_json(json_str,orient='index',encoding='utf-8') # 4
el_json

                                                                  0
datasetid                           afluencia-diaria-del-metro-cdmx
recordid                   400086b6463bbfe0151467f1e9ace23c6e4e5781
fields            {'anio': '2019', 'estacion': 'Zaragoza', 'fech...
record_timestamp                   2020-03-25T17:13:11.354000+00:00

In [322]:
a_ver = (el_json.loc['fields'][0]) #5
a_ver

{'anio': '2019',
 'estacion': 'Zaragoza',
 'fecha': '2019-01-01',
 'linea': 'Linea 1',
 'afluencia': '22076'}

In [323]:
nuevo=pd.DataFrame(a_ver,index=[0]) # 7

In [327]:
f.append(nuevo) # 8

   anio  estacion       fecha    linea afluencia
0  2019  Zaragoza  2019-01-01  Linea 1     22076

In [303]:
#for i in range(len(list(dfrec))):
#    print(dfrec[i])

In [330]:
f = pd.DataFrame(columns=["anio", "estacion", "fecha", "linea", "afluencia"])
df = pd.read_json(r'metro_2019-01-01.json',encoding='utf-8', orient='values', lines=True)
dfrec=df['records'][0]
df_aux = f
for x in range(len(list(dfrec))):
    #print(x)
    json_str = json.dumps(dfrec[x])
    #print("json_str:",json_str)
    #print('\n')
    el_json=pd.read_json(json_str,orient='index',encoding='utf-8')
    #print("el_json : ", el_json)
    #print('\n')
    a_ver = (el_json.loc['fields'][0])
    #print("a_ver: ",a_ver)
    #print('\n')
    nuevo=pd.DataFrame(a_ver,index=[0])
    #print("nuevo: ",nuevo)
    #print('\n')
    f=f.append(nuevo)

In [333]:
f.head()

   anio            estacion       fecha    linea afluencia
0  2019           Pantitlán  2019-01-01  Linea 1     14452
0  2019            Zaragoza  2019-01-01  Linea 1     22076
0  2019  Blvd. Puerto Aéreo  2019-01-01  Linea 1     12613
0  2019            Balbuena  2019-01-01  Linea 1      5888
0  2019         Insurgentes  2019-01-01  Linea 1     13832

In [334]:
f

    anio            estacion       fecha     linea afluencia
0   2019           Pantitlán  2019-01-01   Linea 1     14452
0   2019            Zaragoza  2019-01-01   Linea 1     22076
0   2019  Blvd. Puerto Aéreo  2019-01-01   Linea 1     12613
0   2019            Balbuena  2019-01-01   Linea 1      5888
0   2019         Insurgentes  2019-01-01   Linea 1     13832
..   ...                 ...         ...       ...       ...
0   2019       Ciudad Azteca  2019-01-01   Linea B     27091
0   2019             Tláhuac  2019-01-01  Linea 12     18241
0   2019           Tlaltenco  2019-01-01  Linea 12      1397
0   2019          Zapotitlán  2019-01-01  Linea 12      5459
0   2019            Calle 11  2019-01-01  Linea 12      4170

[195 rows x 5 columns]

In [289]:
i=0
while i < (len(list(dfrec))):
    json_str = json.dumps(dfrec[i])
    el_json=pd.read_json(json_str,orient='index',encoding='utf-8')
    a_ver = (el_json.loc['fields'][0])
    nuevo=pd.DataFrame(a_ver,index=[0])
    f.append(nuevo)
    i=i+1

AttributeError: 'list' object has no attribute 'values'

In [275]:
list(dfrec)[2]

{'datasetid': 'afluencia-diaria-del-metro-cdmx',
 'recordid': '25d2093306fd85bc965fb11b8d10b8bce12688aa',
 'fields': {'anio': '2019',
  'estacion': 'Blvd. Puerto Aéreo',
  'fecha': '2019-01-01',
  'linea': 'Linea 1',
  'afluencia': '12613'},
 'record_timestamp': '2020-03-25T17:13:11.354000+00:00'}

In [248]:
range(len(dfrec))

range(0, 195)

In [278]:
len(list(dfrec))

195

In [19]:
df.head()

,nhits,parameters,records,facet_groups
0,195,"{'dataset': 'afluencia-diaria-del-metro-cdmx',...",[{'datasetid': 'afluencia-diaria-del-metro-cdm...,"[{'facets': [{'count': 195, 'path': '2019', 's..."

In [20]:
df

,nhits,parameters,records,facet_groups
0,195,"{'dataset': 'afluencia-diaria-del-metro-cdmx',...",[{'datasetid': 'afluencia-diaria-del-metro-cdm...,"[{'facets': [{'count': 195, 'path': '2019', 's..."

In [21]:
dfparams=df['parameters'][0]

In [24]:
dfparams

{'dataset': 'afluencia-diaria-del-metro-cdmx',
 'refine': {'fecha': '2019-01-01'},
 'timezone': 'UTC',
 'rows': 10000,
 'sort': ['-fecha'],
 'format': 'json'}

In [29]:
dfacet_groups=df['facet_groups'][0]
dfacet_groups

[{'facets': [{'count': 195,
    'path': '2019',
    'state': 'displayed',
    'name': '2019'}],
  'name': 'fecha'}]

In [210]:
prueba=dfacet_groups[0]

In [214]:
prueba.get('facets')

[{'count': 195, 'path': '2019', 'state': 'displayed', 'name': '2019'}]

In [216]:
prueba.get('facets')[0].get('count')

195

In [171]:
with open('metro_2019-01-01.json') as complex_data:
    data = complex_data.read()
    numbers = json.loads(data)

In [172]:
data[10:13]

'195'

In [179]:
#numbers

In [187]:
pd.read_json(json_str,orient='records') #ec33a8dcf83dba40ce9b09e1f51f67acefe1a0ef

,datasetid,recordid,fields,record_timestamp
afluencia,afluencia-diaria-del-metro-cdmx,400086b6463bbfe0151467f1e9ace23c6e4e5781,22076,2020-03-25T17:13:11.354000+00:00
anio,afluencia-diaria-del-metro-cdmx,400086b6463bbfe0151467f1e9ace23c6e4e5781,2019,2020-03-25T17:13:11.354000+00:00
estacion,afluencia-diaria-del-metro-cdmx,400086b6463bbfe0151467f1e9ace23c6e4e5781,Zaragoza,2020-03-25T17:13:11.354000+00:00
fecha,afluencia-diaria-del-metro-cdmx,400086b6463bbfe0151467f1e9ace23c6e4e5781,2019-01-01,2020-03-25T17:13:11.354000+00:00
linea,afluencia-diaria-del-metro-cdmx,400086b6463bbfe0151467f1e9ace23c6e4e5781,Linea 1,2020-03-25T17:13:11.354000+00:00

In [169]:
el_json[0].dtype

dtype('O')

In [170]:
el_json[0]

datasetid                             afluencia-diaria-del-metro-cdmx
recordid                     ec33a8dcf83dba40ce9b09e1f51f67acefe1a0ef
fields              {'anio': '2019', 'estacion': 'Pantitlán', 'fec...
record_timestamp                     2020-03-25T17:13:11.354000+00:00
Name: 0, dtype: object

In [141]:
el_json[:'fields']

                                                           0
datasetid                    afluencia-diaria-del-metro-cdmx
recordid            ec33a8dcf83dba40ce9b09e1f51f67acefe1a0ef
fields     {'anio': '2019', 'estacion': 'Pantitlán', 'fec...

In [142]:
el_json.loc['fields']

0    {'anio': '2019', 'estacion': 'Pantitlán', 'fec...
Name: fields, dtype: object

In [143]:
el_json.loc['fields'].shape

(1,)

In [144]:
el_json.loc['fields'].dtype

dtype('O')

In [145]:
type(el_json.loc['fields'])

pandas.core.series.Series

In [183]:
el_json.loc['fields'][0]

{'anio': '2019',
 'estacion': 'Pantitlán',
 'fecha': '2019-01-01',
 'linea': 'Linea 1',
 'afluencia': '14452'}

In [189]:
f.add(a_ver)

Empty DataFrame
Columns: [anio, estacion, fecha, linea, afluencia]
Index: []

In [190]:
import numpy as np

In [191]:
holis=np.row_stack([a_ver])
holis

array([[{'anio': '2019', 'estacion': 'Pantitlán', 'fecha': '2019-01-01', 'linea': 'Linea 1', 'afluencia': '14452'}]],
      dtype=object)

In [192]:
#anio,estacion,fecha,linea,afluencia =holis

In [193]:
type(a_ver)

dict

In [196]:
f.columns

Index(['anio', 'estacion', 'fecha', 'linea', 'afluencia'], dtype='object')

In [197]:
nuevo

   anio   estacion       fecha    linea afluencia
0  2019  Pantitlán  2019-01-01  Linea 1     14452

In [198]:
nuevo.columns

Index(['anio', 'estacion', 'fecha', 'linea', 'afluencia'], dtype='object')

In [199]:
f.columns=nuevo.columns

In [200]:
f.columns

Index(['anio', 'estacion', 'fecha', 'linea', 'afluencia'], dtype='object')

In [201]:
f.append(nuevo)

   anio   estacion       fecha    linea afluencia
0  2019  Pantitlán  2019-01-01  Linea 1     14452